Repository AHartTN/Hartonomous-Sandbox: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/app-pipeline.yml, .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/app-pipeline.yml: any of: src/Hartonomous.Api, src/Hartonomous.Workers.*, src/Hartonomous.Core, src/Hartonomous.Infrastructure
  .azure-pipelines/database-pipeline.yml: any of: src/Hartonomous.Database, tests/**/*.sql
  azure-pipelines.yml: any file but: docs, *.md, LICENSE

Commit before CLR refactor/implementation progress
  AUDIT_IMPLEMENTATION_ROADMAP.md
  QUICK_START_SESSION2.md
  src/Hartonomous.Api/appsettings.Development.json
  src/Hartonomous.Core/Configuration/Neo4jOptions.cs
  src/Hartonomous.Database/CLR/HilbertCurve.cs
  src/Hartonomous.Database/CLR/MachineLearning/SpaceFillingCurves.cs
  src/Hartonomous.Database/Functions/dbo.fn_BindAtomsToCentroid.sql
  src/Hartonomous.Database/Functions/dbo.fn_ComputeHilbertValue.sql
  src/Hartonomous.Database/Functions/dbo.fn_DiscoverConcepts.sql
  src/Hartonomous.Database/Procedures/Admin.WeightRollback.sql
  src/Hartonomous.Database/Procedures/Billing.InsertUsageRecord_Native.sql
  src/Hartonomous.Database/Procedures/dbo.sp_AtomizeImage_Governed.sql
  src/Hartonomous.Database/Procedures/dbo.sp_AtomizeModel_Governed.sql
  src/Hartonomous.Database/Procedures/dbo.sp_AtomizeText_Governed.sql
  src/Hartonomous.Database/Procedures/dbo.sp_ComputeSemanticFeatures.sql
  src/Hartonomous.Database/Procedures/dbo.sp_CreateWeightSnapshot.sql
  src/Hartonomous.Database/Procedures/dbo.sp_TextToEmbedding.sql
  src/Hartonomous.Database/Tables/Attention.AttentionGenerationTables.sql
  src/Hartonomous.Database/Tables/Provenance.ProvenanceTrackingTables.sql
  src/Hartonomous.Database/Tables/Reasoning.ReasoningFrameworkTables.sql
  src/Hartonomous.Database/Tables/Stream.StreamOrchestrationTables.sql
  src/Hartonomous.Database/Tables/Temporal_Tables_Add_Retention_and_Columnstore.sql
  src/Hartonomous.Database/Tables/dbo.BillingUsageLedger_Migrate_to_Ledger.sql
  src/Hartonomous.Database/Tables/dbo.InferenceTracking.sql
  src/Hartonomous.Database/Tables/dbo.TenantAtom.sql
  src/Hartonomous.Database/Tables/dbo.TenantAtoms.sql
  src/Hartonomous.Database/Tables/graph.AtomGraphEdges_Add_PseudoColumn_Indexes.sql
  src/Hartonomous.Infrastructure/Configurations/ServiceCollectionExtensions.cs
  src/Hartonomous.Infrastructure/Health/AppConfigurationHealthCheck.cs
  src/Hartonomous.Infrastructure/Health/KeyVaultHealthCheck.cs
  src/Hartonomous.Infrastructure/Health/Neo4jHealthCheck.cs
  src/Hartonomous.Infrastructure/Health/SqlServerHealthCheck.cs
  tests/Hartonomous.IntegrationTests/HartonomousWebApplicationFactory.cs
Due: .azure-pipelines/app-pipeline.yml, .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

minor cleanup
  blah.xml
  scripts/test_json_vector.sql
Due: azure-pipelines.yml

feat: Complete Enterprise Implementation Roadmap
  docs/deployment/CLR_ASSEMBLY_DEPLOYMENT.md
  docs/planning/ENTERPRISE_ROLLOUT_PLAN.md
  docs/planning/IMPLEMENTATION_SUMMARY.md
  scripts/Test-HartonomousDeployment.ps1
  scripts/deploy-clr-assemblies.ps1
  scripts/sql/Create-AutonomousAgentJob.sql
  src/Hartonomous.Database/CLR/Core/VectorMath.cs
  src/Hartonomous.Database/Procedures/dbo.sp_IngestAtoms.sql
  src/Hartonomous.Infrastructure/Services/IngestionService.cs
Due: .azure-pipelines/app-pipeline.yml, .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

feat: Stabilization & Integration Protocol - Complete System Hardening
  docs/planning/STABILIZATION_COMPLETION_REPORT.md
  scripts/Deploy-All.ps1
  scripts/Test-HartonomousDeployment-Simple.ps1
  scripts/deploy-clr-assemblies.ps1
  src/Hartonomous.Core/Interfaces/Query/IAtomQueryService.cs
  src/Hartonomous.Infrastructure/Services/AtomQueryService.cs
  src/Hartonomous.Infrastructure/Services/IngestionService.cs
  src/Hartonomous.Shared.Contracts/DTOs/AtomDetailDTO.cs
  src/Hartonomous.Workers.Neo4jSync/Neo4jSyncWorker.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

feat: Rewrite VectorMath.cs with System.Numerics.Vector<float> for .NET Framework 4.8.1 compatibility
  scripts/Build-WithSigning.ps1
  scripts/Deploy-All.ps1
  scripts/Sign-CLRAssemblies.ps1
  scripts/Test-HartonomousDeployment-Simple.ps1
  scripts/build-dacpac.ps1
  scripts/deploy-dacpac.ps1
  src/Hartonomous.Admin/packages.lock.json
  src/Hartonomous.Api/Controllers/DataIngestionController.cs
  src/Hartonomous.Api/Controllers/ResearchController.cs
  src/Hartonomous.Api/DTOs/Provenance/SearchStatistics.cs
  src/Hartonomous.Api/DTOs/Provenance/SemanticSearchResponse.cs
  src/Hartonomous.Api/DTOs/Research/ResearchQueryRequest.cs
  src/Hartonomous.Api/DTOs/Research/ResearchQueryResponse.cs
  src/Hartonomous.Api/Middleware/CorrelationIdMiddleware.cs
  src/Hartonomous.Api/packages.lock.json
  src/Hartonomous.Core.Performance/packages.lock.json
  src/Hartonomous.Core/Hartonomous.Core.csproj
  src/Hartonomous.Core/Interfaces/Ingestion/IFileTypeDetector.cs
  src/Hartonomous.Core/packages.lock.json
  src/Hartonomous.Database/CLR/Core/BinarySerializationHelpers.cs
  src/Hartonomous.Database/CLR/Core/VectorMath.cs
  src/Hartonomous.Database/CLR/ModelParsers/StableDiffusionParser.cs
  src/Hartonomous.Database/Hartonomous.Database.sqlproj
  src/Hartonomous.Database/Procedures/dbo.sp_Analyze.sql
  src/Hartonomous.Database/Procedures/dbo.sp_Hypothesize.sql
  src/Hartonomous.Infrastructure/Services/BackgroundJob/SqlBackgroundJobService.cs
  src/Hartonomous.Infrastructure/packages.lock.json
  src/Hartonomous.Workers.CesConsumer/packages.lock.json
  src/Hartonomous.Workers.EmbeddingGenerator/packages.lock.json
  src/Hartonomous.Workers.Neo4jSync/packages.lock.json
  tests/Hartonomous.IntegrationTests/packages.lock.json
  tests/Hartonomous.UnitTests/packages.lock.json
Due: .azure-pipelines/app-pipeline.yml, .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

fix: Resolve assembly signing errors in build pipeline
  scripts/Initialize-CLRSigning.ps1
  scripts/Sign-CLRAssemblies.ps1
Due: azure-pipelines.yml

feat: Work Batch 3 - RLHF, Self-Ingestion & Unsupervised Learning
  docs/architecture/learning-loop-diagram.md
  docs/work-batches/EXECUTION-SUMMARY.md
  docs/work-batches/QUICK-START.md
  docs/work-batches/work-batch-3-completion.md
  scripts/operations/Seed-HartonomousRepo.ps1
  scripts/operations/Test-RLHFCycle.ps1
  src/Hartonomous.Database/Procedures/dbo.sp_ClusterConcepts.sql
  src/Hartonomous.Database/Procedures/dbo.sp_Hypothesize.sql
  src/Hartonomous.Database/Procedures/dbo.sp_Learn.sql
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

docs: Add Git commit proof for Work Batch 3
  docs/work-batches/GIT-COMMIT-PROOF.md
Due: none

docs: Add complete deployment execution proof
  docs/work-batches/DEPLOYMENT-PROOF.md
Due: none

Update OperationProvenanceConfiguration.cs
  src/Hartonomous.Data.Entities/Configurations/OperationProvenanceConfiguration.cs
Due: azure-pipelines.yml

cleanup: Remove legacy mock data and CodeAtom artifacts
  src/Hartonomous.Api/DTOs/Provenance/ProvenanceControllerMockData.cs
  src/Hartonomous.Data.Entities/Interfaces/ICodeAtom.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

docs: Add system cleanup and verification report
  docs/work-batches/CLEANUP-VERIFICATION.md
Due: none

progress commit
  docs/ACTION_PLAN.md
  docs/ALGORITHM_ATOMIZATION_AUDIT.md
  docs/ATOMIZATION_IMPROVEMENTS_SUMMARY.md
  docs/ATOMIZATION_PATTERN_GUIDE.md
  docs/BUILD_ERRORS_FIXED.md
  docs/FINAL_ASSESSMENT.md
  docs/IMPLEMENTATION_STRATEGY_UPDATED.md
  docs/MASTER_PLUMBING_PLAN.md
  docs/PHASE2_IMPLEMENTATION_COMPLETE.md
  docs/PLUMBER_FINAL_REPORT.md
  docs/PLUMBING_STATUS_REPORT.md
  docs/QUICK_START_GUIDE.md
  docs/README_IMPLEMENTATION.md
  docs/TODAYS_ACCOMPLISHMENTS.md
  src/Hartonomous.Api/Controllers/SearchController.cs
  src/Hartonomous.Api/Controllers/StripeWebhookController.cs
  src/Hartonomous.Infrastructure/Atomizers/BaseAtomizer.cs
  src/Hartonomous.Infrastructure/Configurations/BusinessServiceRegistration.cs
  src/Hartonomous.Infrastructure/Services/BackgroundJobService.cs
  src/Hartonomous.Infrastructure/Services/IngestionService.cs
  src/Hartonomous.Workers.EmbeddingGenerator/EmbeddingGeneratorWorker.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

fix: Improve error handling in GitHub Actions workflow
  .github/workflows/ci-cd.yml
Due: azure-pipelines.yml

fix: Add missing columns to AutonomousImprovementHistory table
  src/Hartonomous.Database/Tables/dbo.AutonomousImprovementHistory.sql
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

fix: Correct DimensionalityReductionAggregates file reference
  src/Hartonomous.Database/Hartonomous.Database.sqlproj
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

docs: Phase 7 + 8 final summary
  docs/PHASE_7_8_FINAL.md
Due: none

feat: Phase 9 Deep Schema Refactor - Complete
  src/Hartonomous.Database/Hartonomous.Database.sqlproj
  src/Hartonomous.Database/Migrations/Phase9_SchemaRefactor.sql
  src/Hartonomous.Database/Security/ApplicationUsers.sql
  src/Hartonomous.Database/Tables/dbo.Atom.sql
  src/Hartonomous.Database/Tables/dbo.Concept.sql
  src/Hartonomous.Database/Tables/dbo.TenantGuidMapping.sql
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

docs: Phase 9 progress report - 80% complete
  docs/PHASE_9_PROGRESS.md
Due: none

docs: Phases 7-9 complete summary
  docs/PHASE_7_9_COMPLETE.md
Due: none

fix: Clear all build warnings and DACPAC edge cases
  src/Hartonomous.Database/Functions/dbo.JobManagementFunctions.sql
  src/Hartonomous.Database/Functions/dbo.fn_BindAtomsToCentroid.sql
  src/Hartonomous.Database/ServiceBroker/Queues/dbo.Neo4jSyncQueue.sql
  tests/Hartonomous.DatabaseTests/Tests/Infrastructure/DatabaseConnectionTests.cs
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

fix: DACPAC compatibility improvements
  src/Hartonomous.Database/Hartonomous.Database.sqlproj
  src/Hartonomous.Database/Tables/dbo.TenantGuidMapping.sql
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

docs: Production-ready status - ZERO errors, ZERO warnings
  docs/PRODUCTION_READY_STATUS.md
Due: none

docs: Complete deployment audit and refactoring plan
  docs/DEPLOYMENT_AUDIT_REFACTOR.md
Due: none

fix: Complete deployment refactoring - single entry point
  scripts/Deploy-Master.ps1
  scripts/README.md
  src/Hartonomous.Database/Tables/dbo.TenantGuidMapping.sql
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

fix: DACPAC compatibility - move files and fix syntax
  src/Hartonomous.Database/Scripts/Post-Deployment/ApplicationUsers.sql
  src/Hartonomous.Database/Scripts/Post-Deployment/fn_BindAtomsToCentroid.sql
  src/Hartonomous.Database/Tables/dbo.BillingInvoice.sql
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

fix: add validation to CLR signing step
  .github/workflows/ci-cd.yml
Due: azure-pipelines.yml

fix: make CLR signing resilient to missing DLLs
  .github/workflows/ci-cd.yml
Due: azure-pipelines.yml

fix: skip CLR signing in GitHub Actions (already signed in DACPAC)
  .github/workflows/ci-cd.yml
Due: azure-pipelines.yml

fix: correct Deploy-CLRCertificate parameters (remove invalid -Database)
  .github/workflows/ci-cd.yml
Due: azure-pipelines.yml

fix: add TrustServerCertificate to CLR verification step
  .github/workflows/ci-cd.yml
  PIPELINE-ITERATION-LOG.md
Due: azure-pipelines.yml

fix: skip CLR verification for development environment
  .github/workflows/ci-cd.yml
Due: azure-pipelines.yml

fix: remove local-dev-config dependency from scaffold script
  scripts/scaffold-entities.ps1
Due: azure-pipelines.yml
