Repository AHartTN/Hartonomous-Sandbox: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/app-pipeline.yml, .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/app-pipeline.yml: any of: src/Hartonomous.Api, src/Hartonomous.Workers.*, src/Hartonomous.Core, src/Hartonomous.Infrastructure
  .azure-pipelines/database-pipeline.yml: any of: src/Hartonomous.Database, tests/**/*.sql
  azure-pipelines.yml: any file but: docs, *.md, LICENSE

Implement IDesignTimeDbContextFactory for idempotent EF scaffolding
  .github/workflows/ci-cd.yml
  scripts/scaffold-entities.ps1
Due: azure-pipelines.yml

Add Configurations/ and Interfaces/ to .gitignore
  .gitignore
Due: azure-pipelines.yml

Use Active Directory Default (managed identity) for EF scaffolding in CI/CD
  scripts/scaffold-entities.ps1
Due: azure-pipelines.yml

Add --no-build flag to EF scaffolding to skip compilation
  scripts/scaffold-entities.ps1
Due: azure-pipelines.yml

Add lightweight projection interfaces for app layer refactor
  src/Hartonomous.Data.Entities/Abstracts/EntityBase.cs
  src/Hartonomous.Data.Entities/Abstracts/IAuditableEntity.cs
  src/Hartonomous.Data.Entities/Abstracts/IConcurrencyToken.cs
  src/Hartonomous.Data.Entities/Abstracts/IEntity.cs
  src/Hartonomous.Data.Entities/Abstracts/IProjections.cs
  src/Hartonomous.Data.Entities/Abstracts/ISoftDeletable.cs
  src/Hartonomous.Data.Entities/Abstracts/README.md
Due: azure-pipelines.yml

Fix scaffolding: build project before dotnet ef --no-build
  scripts/scaffold-entities.ps1
Due: azure-pipelines.yml

fix: Delete Interfaces/ folder during scaffolding cleanup (generated code, not abstracts)
  scripts/scaffold-entities.ps1
Due: azure-pipelines.yml

fix: Clean Interfaces/ folder during scaffolding (generated code causes build failures)
  src/Hartonomous.Data.Entities/Configurations/OperationProvenanceConfiguration.cs
Due: azure-pipelines.yml

fix: Use GITHUB_TOKEN for scaffolded entities push [skip ci]
  .github/workflows/ci-cd.yml
Due: azure-pipelines.yml

fix: Add persist-credentials to checkout for git push
  .github/workflows/ci-cd.yml
Due: azure-pipelines.yml

fix: Remove explicit token from checkout (use default GITHUB_TOKEN)
  .github/workflows/ci-cd.yml
Due: azure-pipelines.yml

fix: Add id-token write permission for Azure OIDC
  .github/workflows/ci-cd.yml
Due: azure-pipelines.yml

Configure pipelines: GitHub manual trigger only, Azure auto-trigger with OIDC auth
  .github/workflows/ci-cd.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Azure Pipeline: Remove service connection, use Windows integrated auth (zero trust)
  azure-pipelines.yml
Due: azure-pipelines.yml

Azure Pipeline: Use artifacts for scaffolded entities between stages
  azure-pipelines.yml
Due: azure-pipelines.yml

GitHub Actions: Use artifacts instead of git commits (avoid merge conflicts)
  .github/workflows/ci-cd.yml
Due: azure-pipelines.yml

feat(api): Add Reasoning and Spatial controllers showcasing database AI capabilities
  APP-LAYER-PROGRESS.md
  src/Hartonomous.Api/Controllers/ReasoningController.cs
  src/Hartonomous.Api/Controllers/SpatialSearchController.cs
  src/Hartonomous.Api/DTOs/Reasoning/ChainOfThoughtRequest.cs
  src/Hartonomous.Api/DTOs/Reasoning/ChainOfThoughtResponse.cs
  src/Hartonomous.Api/DTOs/Reasoning/ReasoningNode.cs
  src/Hartonomous.Api/DTOs/Reasoning/ReasoningSample.cs
  src/Hartonomous.Api/DTOs/Reasoning/ReasoningStep.cs
  src/Hartonomous.Api/DTOs/Reasoning/SelfConsistencyRequest.cs
  src/Hartonomous.Api/DTOs/Reasoning/SelfConsistencyResponse.cs
  src/Hartonomous.Api/DTOs/Reasoning/TreeOfThoughtRequest.cs
  src/Hartonomous.Api/DTOs/Reasoning/TreeOfThoughtResponse.cs
  src/Hartonomous.Shared.Contracts/Errors/ErrorDetailFactory.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

feat(api): Complete Spatial DTOs - unblock SpatialSearchController
  src/Hartonomous.Api/DTOs/Generation/AudioGenerationRequest.cs
  src/Hartonomous.Api/DTOs/Generation/AudioGenerationResponse.cs
  src/Hartonomous.Api/DTOs/Generation/ImageGenerationRequest.cs
  src/Hartonomous.Api/DTOs/Generation/ImageGenerationResponse.cs
  src/Hartonomous.Api/DTOs/Generation/TextGenerationRequest.cs
  src/Hartonomous.Api/DTOs/Generation/TextGenerationResponse.cs
  src/Hartonomous.Api/DTOs/Spatial/CrossModalRequest.cs
  src/Hartonomous.Api/DTOs/Spatial/CrossModalResponse.cs
  src/Hartonomous.Api/DTOs/Spatial/CrossModalResult.cs
  src/Hartonomous.Api/DTOs/Spatial/FusionSearchRequest.cs
  src/Hartonomous.Api/DTOs/Spatial/FusionSearchResponse.cs
  src/Hartonomous.Api/DTOs/Spatial/FusionSearchResult.cs
  src/Hartonomous.Api/DTOs/Spatial/FusionWeights.cs
  src/Hartonomous.Api/DTOs/Spatial/HybridSearchRequest.cs
  src/Hartonomous.Api/DTOs/Spatial/HybridSearchResponse.cs
  src/Hartonomous.Api/DTOs/Spatial/SpatialCoordinate.cs
  src/Hartonomous.Api/DTOs/Spatial/SpatialSearchResult.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: Remove EF repository pattern, convert ModelsController to stored procedures
  APP-LAYER-COMPLETE.md
  Hartonomous.sln
  src/Hartonomous.Api/Controllers/ModelsController.cs
  src/Hartonomous.Core/Data/IRepository.cs
  src/Hartonomous.Core/Data/IUnitOfWork.cs
  src/Hartonomous.Core/Interfaces/IAtomEmbeddingRepository.cs
  src/Hartonomous.Core/Interfaces/IAtomRelationRepository.cs
  src/Hartonomous.Core/Interfaces/IAtomRepository.cs
  src/Hartonomous.Core/Interfaces/ICdcRepository.cs
  src/Hartonomous.Core/Interfaces/IDeduplicationPolicyRepository.cs
  src/Hartonomous.Core/Interfaces/IInferenceRepository.cs
  src/Hartonomous.Core/Interfaces/IInferenceRequestRepository.cs
  src/Hartonomous.Core/Interfaces/IIngestionJobRepository.cs
  src/Hartonomous.Core/Interfaces/IModelLayerRepository.cs
  src/Hartonomous.Core/Interfaces/IModelRepository.cs
  src/Hartonomous.Core/Interfaces/ITensorAtomRepository.cs
  src/Hartonomous.Core/Interfaces/ITokenVocabularyRepository.cs
  src/Hartonomous.Infrastructure/Data/EfRepository.cs
  src/Hartonomous.Infrastructure/Repositories/AtomEmbeddingRepository.cs
  src/Hartonomous.Infrastructure/Repositories/AtomRelationRepository.cs
  src/Hartonomous.Infrastructure/Repositories/AtomRepository.cs
  src/Hartonomous.Infrastructure/Repositories/AtomicReferenceRepository.cs
  src/Hartonomous.Infrastructure/Repositories/CdcRepository.cs
  src/Hartonomous.Infrastructure/Repositories/DeduplicationPolicyRepository.cs
  src/Hartonomous.Infrastructure/Repositories/EfRepository.cs
  src/Hartonomous.Infrastructure/Repositories/IInferenceRepository.cs
  src/Hartonomous.Infrastructure/Repositories/IModelRepository.cs
  src/Hartonomous.Infrastructure/Repositories/InferenceRepository.cs
  src/Hartonomous.Infrastructure/Repositories/InferenceRequestRepository.cs
  src/Hartonomous.Infrastructure/Repositories/IngestionJobRepository.cs
  src/Hartonomous.Infrastructure/Repositories/ModelLayerRepository.cs
  src/Hartonomous.Infrastructure/Repositories/ModelRepository.cs
  src/Hartonomous.Infrastructure/Repositories/TensorAtomRepository.cs
  src/Hartonomous.Infrastructure/Repositories/TokenVocabularyRepository.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

feat: Database-centric architecture optimization with SIMD acceleration
  DATABASE-CENTRIC-ARCHITECTURE.md
  src/Hartonomous.Database/CLR/Core/VectorMath.cs
  src/Hartonomous.Database/CLR/Core/VectorUtilities.cs
  src/Hartonomous.Database/CLR/VectorAggregates.cs
  src/Hartonomous.Database/Functions/dbo.fn_GetModelLayers.sql
  src/Hartonomous.Database/Functions/dbo.fn_GetModelPerformanceFiltered.sql
  src/Hartonomous.Database/Functions/dbo.fn_GetModelsPaged.sql
  src/Hartonomous.Database/Procedures/dbo.sp_GetModelPerformanceMetrics.sql
  src/Hartonomous.Database/Procedures/dbo.sp_GetUsageAnalytics.sql
  src/Hartonomous.Database/Procedures/dbo.sp_TemporalVectorSearch.sql
  src/Hartonomous.Database/Views/dbo.vw_ModelDetails.sql
  src/Hartonomous.Database/Views/dbo.vw_ModelLayersWithStats.sql
  src/Hartonomous.Database/Views/dbo.vw_ModelPerformanceMetrics.sql
  src/Hartonomous.Database/Views/dbo.vw_ModelsSummary.sql
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

Fix DACPAC build errors: correct table references and CREATE PROCEDURE syntax
  src/Hartonomous.Database/Procedures/dbo.sp_GetModelPerformanceMetrics.sql
  src/Hartonomous.Database/Procedures/dbo.sp_GetUsageAnalytics.sql
  src/Hartonomous.Database/Procedures/dbo.sp_TemporalVectorSearch.sql
  src/Hartonomous.Database/Views/dbo.vw_ModelDetails.sql
  src/Hartonomous.Database/Views/dbo.vw_ModelLayersWithStats.sql
  src/Hartonomous.Database/Views/dbo.vw_ModelPerformanceMetrics.sql
  src/Hartonomous.Database/Views/dbo.vw_ModelsSummary.sql
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

Fix indexed view: remove subqueries, use LEFT JOIN with GROUP BY
  src/Hartonomous.Database/Views/dbo.vw_ModelPerformanceMetrics.sql
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

Fix indexed views and temporal queries for successful DACPAC deployment
  src/Hartonomous.Data.Entities/Configurations/OperationProvenanceConfiguration.cs
  src/Hartonomous.Database/Functions/dbo.fn_GetModelPerformanceFiltered.sql
  src/Hartonomous.Database/Procedures/dbo.sp_GetModelPerformanceMetrics.sql
  src/Hartonomous.Database/Procedures/dbo.sp_TemporalVectorSearch.sql
  src/Hartonomous.Database/Views/dbo.vw_ModelPerformance.sql
  src/Hartonomous.Database/Views/dbo.vw_ModelPerformanceMetrics.sql
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

refactor(api): migrate controllers to database-centric architecture
  src/Hartonomous.Api/Controllers/AnalyticsController.cs
  src/Hartonomous.Api/Controllers/SearchController.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor(clr): consolidate ParseVectorJson duplicates + add functional tests
  CLR-ARCHITECTURE-ANALYSIS.md
  CLR-REFACTORING-SUMMARY.md
  src/Hartonomous.Database/CLR/AttentionGeneration.cs
  src/Hartonomous.Database/CLR/BinaryConversions.cs
  src/Hartonomous.Database/CLR/DimensionalityReductionAggregates.cs
  tests/Hartonomous.DatabaseTests/SqlTests/test_sp_TemporalVectorSearch.sql
  tests/Hartonomous.DatabaseTests/StoredProcedureFunctionalityTests.cs
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

fix(tests): configure DatabaseTests project for central package management
  Directory.Packages.props
  src/Hartonomous.Core.Performance/packages.lock.json
  src/Hartonomous.Core/packages.lock.json
  src/Hartonomous.Data.Entities/packages.lock.json
  src/Hartonomous.Data/packages.lock.json
  src/Hartonomous.Infrastructure/packages.lock.json
  tests/Hartonomous.DatabaseTests/Hartonomous.DatabaseTests.csproj
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

fix(build): correct XML syntax in Directory.Packages.props
  Directory.Packages.props
Due: azure-pipelines.yml

Add ISO-certification grade CLR signing infrastructure to CI/CD pipelines
  .github/workflows/ci-cd.yml
  .gitignore
  .signing-config
  azure-pipelines.yml
  docs/operations/clr-signing-cicd.md
Due: azure-pipelines.yml

more progress
  SQL_AUDIT_PART15.md
  SQL_AUDIT_PART16.md
  SQL_AUDIT_PART17.md
  SQL_AUDIT_PART18.md
  tests/Hartonomous.IntegrationTests/HartonomousWebApplicationFactory.cs
  tests/Hartonomous.IntegrationTests/ProductionConfigWebApplicationFactory.cs
Due: azure-pipelines.yml
