Repository AHartTN/Hartonomous-Sandbox: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/app-pipeline.yml, .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/app-pipeline.yml: any of: src/Hartonomous.Api, src/Hartonomous.Workers.*, src/Hartonomous.Core, src/Hartonomous.Infrastructure
  .azure-pipelines/database-pipeline.yml: any of: src/Hartonomous.Database, tests/**/*.sql
  azure-pipelines.yml: any file but: docs, *.md, LICENSE

fix: add missing using directives to Vision interfaces
  docs/cleanup/PHASE_1_PROGRESS.md
  src/Hartonomous.Core/Interfaces/Vision/IObjectDetectionService.cs
  src/Hartonomous.Core/Interfaces/Vision/IOcrService.cs
  src/Hartonomous.Core/Interfaces/Vision/ISceneAnalysisService.cs
  tests/Hartonomous.DatabaseTests/Tests/StoredProcedures/SpProjectTo3DTests.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor phase1: separate Playwright types (6 types to infrastructure)
  tests/Hartonomous.EndToEndTests/Infrastructure/PlaywrightCollection.cs
  tests/Hartonomous.EndToEndTests/Infrastructure/PlaywrightFixture.cs
  tests/Hartonomous.EndToEndTests/Infrastructure/PlaywrightTestBase.cs
  tests/Hartonomous.EndToEndTests/Tests/PlaywrightSetupTests.cs
Due: azure-pipelines.yml

docs: phase 1 status - 28 types separated cleanly
  docs/cleanup/PHASE_1_COMPLETE.md
Due: none

refactor phase1: separate AudioBuffer, DatabaseConnectionInfo, GitRepositoryInfo
  src/Hartonomous.Core/Models/Audio/AudioBuffer.cs
  src/Hartonomous.Core/Models/Database/DatabaseConnectionInfo.cs
  src/Hartonomous.Core/Models/Git/GitRepositoryInfo.cs
  src/Hartonomous.Infrastructure/Atomizers/AudioStreamAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/DatabaseAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/GitRepositoryAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor phase1: separate CSharpSemanticVisitor, remove MediaAnalysisModels
  src/Hartonomous.Infrastructure/Atomizers/RoslynAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/Visitors/CSharpSemanticVisitor.cs
  src/Hartonomous.Infrastructure/Services/MediaAnalysisModels.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor phase1: separate worker message models
  src/Hartonomous.Core/Models/Media/CompressionMetrics.cs
  src/Hartonomous.Infrastructure/Services/Vision/CompressionAnalyzer.cs
  src/Hartonomous.Shared.Contracts/DTOs/AtomDetailDTO.cs
  src/Hartonomous.Shared.Contracts/DTOs/AtomRelationDTO.cs
  src/Hartonomous.Workers.CesConsumer/Models/IngestionMessage.cs
  src/Hartonomous.Workers.CesConsumer/Worker.cs
  src/Hartonomous.Workers.EmbeddingGenerator/EmbeddingGeneratorWorker.cs
  src/Hartonomous.Workers.EmbeddingGenerator/Models/EmbeddingJobParameters.cs
  src/Hartonomous.Workers.Neo4jSync/Models/Neo4jSyncMessage.cs
  src/Hartonomous.Workers.Neo4jSync/Neo4jSyncWorker.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor phase1: COMPLETE - separated all public multi-type files (50+ types)
  src/Hartonomous.Core/Models/Telemetry/TelemetryBatch.cs
  src/Hartonomous.Core/Models/Telemetry/TelemetryDataPoint.cs
  src/Hartonomous.Core/Models/Telemetry/TelemetryEvent.cs
  src/Hartonomous.Core/Models/Telemetry/TelemetryMetric.cs
  src/Hartonomous.Core/Models/Telemetry/TelemetryReading.cs
  src/Hartonomous.Core/Models/Telemetry/TelemetryValueType.cs
  src/Hartonomous.Core/Models/Video/VideoFrame.cs
  src/Hartonomous.Infrastructure/Atomizers/Configuration/LanguageConfig.cs
  src/Hartonomous.Infrastructure/Atomizers/TelemetryAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/TelemetryStreamAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/TreeSitterAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/VideoStreamAtomizer.cs
  src/Hartonomous.Shared.Contracts/Errors/ErrorCodes.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor phase2: cleanup namespace pollution - remove fully qualified names, add proper using statements
  src/Hartonomous.Database/CLR/DimensionalityReductionAggregates.cs
  src/Hartonomous.Database/CLR/EmbeddingFunctions.cs
  src/Hartonomous.Database/CLR/MachineLearning/SpaceFillingCurves.cs
  src/Hartonomous.Database/CLR/MachineLearning/TimeSeriesForecasting.cs
  src/Hartonomous.Database/CLR/ReasoningFrameworkAggregates.cs
  src/Hartonomous.Database/CLR/TensorOperations/ClrTensorProvider.cs
  src/Hartonomous.Infrastructure/Services/BackgroundJob/SqlBackgroundJobService.cs
  src/Hartonomous.Infrastructure/Services/BackgroundJobService.cs
Due: .azure-pipelines/app-pipeline.yml, .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

refactor phase2: FIX broken builds - add missing using statements, remove duplicate definitions, resolve namespace collisions
  src/Hartonomous.Infrastructure/Atomizers/AudioFileAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/ImageAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/TelemetryStreamAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/VideoFileAtomizer.cs
  src/Hartonomous.Infrastructure/Services/BackgroundJob/SqlBackgroundJobService.cs
  src/Hartonomous.Infrastructure/Services/BackgroundJobService.cs
  src/Hartonomous.Infrastructure/Services/MediaExtractionService.cs
  src/Hartonomous.Infrastructure/Services/StreamingIngestionService.cs
  src/Hartonomous.Infrastructure/Services/TelemetryStreamProcessor.cs
  src/Hartonomous.Infrastructure/Services/Vision/CompressionAnalyzer.cs
  src/Hartonomous.Infrastructure/Services/Vision/MetadataJsonSerializer.cs
  src/Hartonomous.Shared.Contracts/Errors/ErrorDetailFactory.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

docs: comprehensive code deduplication audit - 3 documents covering 792 files, ~5000 LOC duplication identified
  docs/CODE_DEDUPLICATION_AUDIT_EXECUTIVE_SUMMARY.md
  docs/DEDUPLICATION_AUDIT_COMPREHENSIVE.md
  docs/DEDUPLICATION_IMPLEMENTATION_PLAN.md
Due: none

refactor: centralize SHA256 hashing in HashUtilities - migrate 10+ files
  docs/ARCHITECTURE_PATTERNS_ANALYSIS.md
  src/Hartonomous.Api/Middleware/CorrelationIdMiddleware.cs
  src/Hartonomous.Core/Utilities/HashUtilities.cs
  src/Hartonomous.Database/CLR/GenerationFunctions.cs
  src/Hartonomous.Infrastructure/Atomizers/BaseAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/CodeFileAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/ImageAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/RoslynAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/TextAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/TreeSitterAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

refactor: create ISqlConnectionFactory - migrate SqlAtomizationService (1 of 20+)
  src/Hartonomous.Infrastructure/Configurations/BusinessServiceRegistration.cs
  src/Hartonomous.Infrastructure/Data/ISqlConnectionFactory.cs
  src/Hartonomous.Infrastructure/Data/SqlConnectionFactory.cs
  src/Hartonomous.Infrastructure/Services/Atomization/SqlAtomizationService.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: migrate all 17 SQL services to ISqlConnectionFactory - eliminate ~500 LOC
  src/Hartonomous.Infrastructure/Services/Discovery/SqlDiscoveryService.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: add AzureConfigurationExtensions utility class
  src/Hartonomous.Core/Configuration/AzureConfigurationExtensions.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: migrate TreeSitterAtomizer to BaseAtomizer - eliminate template method duplication
  src/Hartonomous.Core/Configuration/AzureConfigurationExtensions.cs
  src/Hartonomous.Infrastructure/Atomizers/TreeSitterAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: migrate RoslynAtomizer and ImageAtomizer to BaseAtomizer
  src/Hartonomous.Infrastructure/Atomizers/ImageAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/RoslynAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: inject ImageAtomizer via DI in VideoFileAtomizer
  src/Hartonomous.Infrastructure/Atomizers/VideoFileAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: migrate TelemetryAtomizer to BaseAtomizer - eliminate 60 LOC
  src/Hartonomous.Infrastructure/Atomizers/TelemetryAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: inject AudioStreamAtomizer via DI in AudioFileAtomizer
  src/Hartonomous.Infrastructure/Atomizers/AudioFileAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: migrate CodeFileAtomizer to BaseAtomizer - eliminate 150 LOC
  src/Hartonomous.Infrastructure/Atomizers/CodeFileAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: migrate AudioStreamAtomizer to BaseAtomizer - eliminate 70 LOC
  src/Hartonomous.Infrastructure/Atomizers/AudioStreamAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: migrate TelemetryStreamAtomizer to BaseAtomizer - eliminate 80 LOC
  src/Hartonomous.Infrastructure/Atomizers/TelemetryStreamAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: migrate VideoStreamAtomizer to BaseAtomizer
  src/Hartonomous.Infrastructure/Atomizers/VideoStreamAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

docs: comprehensive refactoring completion report - 1370 LOC eliminated, 37 files refactored
  docs/REFACTORING_COMPLETION_REPORT.md
Due: none

refactor: enhance BinaryReaderHelper with varint, float16/bfloat16, alignment methods
  src/Hartonomous.Infrastructure/Services/Vision/BinaryReaderHelper.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: migrate CLR model parsers to use BinaryReaderHelper varints - eliminate duplicate varint implementations
  src/Hartonomous.Database/CLR/ModelIngestionFunctions.cs
  src/Hartonomous.Database/CLR/ModelParsers/ONNXParser.cs
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

refactor: migrate all model parsers to use BinaryReaderHelper - eliminate varint duplication
  src/Hartonomous.Database/CLR/ModelParsers/GGUFParser.cs
  src/Hartonomous.Database/CLR/ModelParsers/TensorFlowParser.cs
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

docs: update completion report - 1570 LOC eliminated, 42 files, 48 commits
  docs/REFACTORING_COMPLETION_REPORT.md
Due: none

refactor: migrate DocumentAtomizer (499 lines) to BaseAtomizer - eliminate 150 LOC
  src/Hartonomous.Infrastructure/Atomizers/DocumentAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: create BaseVisionAtomizer and migrate EnhancedImageAtomizer (517 lines) - eliminate 200 LOC vision service duplication
  src/Hartonomous.Infrastructure/Atomizers/BaseVisionAtomizer.cs
  src/Hartonomous.Infrastructure/Atomizers/EnhancedImageAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

Committing files that werent committed yet... Refactor in progress
  src/Hartonomous.Database/Procedures/dbo.sp_AtomizeText_Recursive.sql
  src/Hartonomous.Database/Procedures/dbo.sp_Reconstruct_Recursive.sql
  src/Hartonomous.Database/README_Fractal_Geometry.md
  src/Hartonomous.Database/Tables/dbo.Atom.sql
  src/Hartonomous.Database/Tables/provenance.StructuralPatterns.sql
Due: .azure-pipelines/database-pipeline.yml, azure-pipelines.yml

docs: final refactoring report - 1920 LOC eliminated, 45 files, 12 atomizers migrated including complex parsers
  docs/FINAL_REFACTORING_REPORT.md
Due: none

refactor: migrate DatabaseAtomizer (306 lines) to BaseAtomizer - eliminate 100 LOC
  src/Hartonomous.Infrastructure/Atomizers/DatabaseAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml

refactor: migrate ModelFileAtomizer (1160 lines, 12 ML formats) to BaseAtomizer - eliminate 150 LOC
  src/Hartonomous.Infrastructure/Atomizers/ModelFileAtomizer.cs
Due: .azure-pipelines/app-pipeline.yml, azure-pipelines.yml
